<div><a href="/rock">Play Rock</a></div>
<div><a href="/paper">Play Paper</a></div>
<div><a href="/scissors">Play Scissors</div></a>

<h2> 
  We played rock! 
</h2>

<% computer_move = ["rock", "paper", "scissors"].sample %>

<h2> 
  They played <%= computer_move =%>! 
</h2>

<% if computer_move == "rock" %>
  <h2> We tied! </h2>
<% elsif computer_move == "paper" %>
  <h2> We lost! </h2>
<% elsif computer_move == "scissors" %>
  <h2> We won! </h2>
<% end %>

<a href="/">Rules</a><br>
